section.sidebar {
    
   float: left;
   width: 200px;

   background-color: gray;
   color: white;
    
}

section.content {
    
    margin-left: 230px;
    
}

img {
    float: right;
    width: 100px;
}

footer, header {
    
    background-color: blue;
    line-height: 5px;
    padding: 15px;
    color: #fff;
    
}

header {
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
    clear: both;
}
